*
    margin: 0
    box-sizing: border-box

html
    font-family: sans-serif
body
    background-color: #dadada

header
    background-color: #D87878
    padding: 20px 20%
    margin-bottom: 10px
    .contaner
        font-weight: 900
        color: #fdfafa

.main
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    padding: 10px
    margin: auto
    max-width: 1200px
    .div1
        width: 66%
        height: 440px
        h1
            font-weight: bold
            margin-bottom: 5px
            font-size: 30px
        form
            margin-top: 30px
            .form-box
                width: 450px
                border: 2px solid gray
                height: 36px
                display: block
                font-weight: 300
                color: #000000
                border-radius: 5px
                margin-bottom: 10px
                background-color: hsla(0, 35%, 60%, 1)
                &:focus
                    outline: none
            .color-box
                display: flex
                justify-content: space-between
                align-items: center
                font-size: 10px
                padding-inline: 10px 40px
                span
                    font-size: 14px
                input
                    width: 100px
            button
                width: 450px
                height: 36px
                background-color: #D87878
                border-radius: 5px
                color: #fff
                padding: 3px 4px
                font-weight: 500

    .div2
        width: 33%
        position: relative
        display: flex
        padding: 30px
        align-items: center
        flex-direction: column
        // margin-bottom: 30px
        .box
            position: relative
            width: 300px
            height: 300px
            background-image: url(/img/qr.png)
            background-size: 300px
            &::before
                content: ''
                position: absolute
                top: 0
                left: 0
                width: 100%
                background-image: url(/img/qr-code.png)
                background-size: 300px
                animation: scan 4s ease-in-out infinite
            &::after
                content: ''
                position: absolute
                inset: 0px
                width: calc( 100% + 40px )
                left: -20px
                height: 2px
                background: #D87878
                filter: drop-shadow(0 0 20px #D87878) drop-shadow(0 0 60px #D87878)
                animation: scaner 4s ease-in-out infinite

@keyframes scan
    0%,100%
        height: 0
    50%
        height: 100%

@keyframes scaner
    0%
        top: 0px
    50%
        top: 100%

//D87878
@media (max-width : 767px)
    main
        .main
            flex-direction: column-reverse
            .div1
                width: 100%
                text-align: center
                h1
                    font-size: 24px
                form
                    .form-box
                        width: 90%
                        margin-inline: auto
                    button
                        width: 90%

            .div2
                width: 100%
                margin-bottom: 0
                .box
                    width: 250px
                    height: 250px
                    background-size: contain
                    &::before,&::after
                        background-size: 250px
// result
#result
    max-width: 80%
    margin: 0px auto
    display: flex
    flex-direction: column
    text-align: center
    align-items: center
    justify-content: center
    display: none
    #qrcode
        margin: auto
        margin-bottom: 10px
        img
            max-width: 280px
    #saveBtn
        background-color: #D87878
        color: white
        font-weight: bold
        padding: 10px 5px
        border-radius: 5px
        width: 200px
        margin: 20px auto
        text-decoration: none
        &:hover
            background-color: #fcafaf
